[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flake8 = "*"
autopep8 = "*"
isort = "*"
python-language-server = {extras = ["all"],version = "*"}

[requires]
python_version = "3.7"
